attrs==25.3.0
certifi==2025.7.9
chardet==4.0.0
cockpit @ file:///builddir/build/BUILD/cockpit-344/tmp/wheel/cockpit-344-py3-none-any.whl
dasbus==1.5
dbus-python==1.2.18
distro==1.5.0
exceptiongroup==1.3.0
file-magic==0.4.0
gpg==1.15.1
h11==0.16.0
idna==2.10
iniconfig==2.1.0
libcomps==0.1.18
lxml==4.6.5
nftables==0.1
outcome==1.3.0.post0
packaging==25.0
pexpect==4.8.0
pluggy==1.6.0
psutil==5.8.0
ptyprocess==0.6.0
Pygments==2.19.2
PyGObject==3.40.1
PySocks==1.7.1
pytest==8.4.1
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
rpm==4.16.1.3
selenium==4.34.2
selinux==3.6
sepolicy==3.6
setools==4.4.4
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35/src
six==1.15.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.9.2
systemd-python==234
tomli==2.2.1
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.14.1
urllib3==2.5.0
websocket-client==1.8.0
wsproto==1.2.0
